@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.navbar-container {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  color: #2e2e2e;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  font-family: "Montserrat", sans-serif;

  .logo-wrapper {
    margin-right: auto;

    a {
      margin: 1em;
      font-weight: 700;
      letter-spacing: 0.2em;
      padding: 1.5em;

      &:hover {
        background-color: #0074d9;
        color: #fff;
      }
    }
  }

  .nav-links {
    a {
      text-decoration: none;
      margin: 1em;
      color: inherit;
      font-weight: 700;
      letter-spacing: 0.2em;
      padding: 1.5em;

      &:hover {
        background-color: #0074d9;
        color: #fff;
      }
    }
  }
}
