@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

@import "./components/navbar.scss";
@import "./components/hero-section.scss";
@import "./components/about-section.scss";
@import "./components/footer.scss";

body {
  margin: 0;
  font-family: "Merriweather", serif;
  background-color: #ffffff;
  color: #2e2e2e;
}

a {
  text-decoration: none;
  color: inherit;
}
